django-lets-go>=2.8.5
#linaro-django-pagination>=2.0.3 #linaro not compatible with Django 1.9
-e git+git://github.com/areski/django-pagination.git@17e120899efc18a888b0038f8ae40b7448bf62c2#egg=django-pagination
django-notifications-hq==1.0
